.header {
  background: url(https://png.pngtree.com/thumb_back/fh260/background/20241007/pngtree-restaurant-menu-with-fast-food-images-through-online-banners-social-image_16290915.jpg);
  background-repeat: no-repeat;
  backdrop-filter: blur(1px);
  background-size:cover;
  padding: 50px;
  margin:-10px -10px -10px;
}
.title {
    font-size: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
}
body{
    background-color: #FDFFDB;
    font-size:30px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #FF9191;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: all 0.3s ease; 
}

.button:hover {
  padding:12px 34px;
  background-color: #FFD270;
}
.footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ffa861;
transform: translateY(360px);
}
.catalog_nav ul{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:20px;
  list-style:none;
}
.catalog_nav li{
  background-color:#ffa861;
  padding:7px 20px;
  border-radius:30px;
  transition:all 0.3s ease;
}
.catalog_nav li:hover{

  background-color:#df793e;
  padding:7px 30px;

}
.carts{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  align-content: center;
  justify-content: space-around;
  gap:15px;
}
.card{
  padding:20px;
  background-color:#ffc18f;
  border-radius:10px;
  display:flex;
  flex-direction: column;
  align-items:center;
  gap:7px;
}
.card img{
  width:200px;
  height: 200px;
  border-radius:10px;
}
.card_title{
  color:black;
}
.card_price{
  font-size:20px;
}
.card_btn{
  width:100%;
  padding:8px;
  background-color: #FF9191;
  border-radius:10px;
  transition:all 0.3s ease;
}
.card_btn:hover{
  background-color:#d6a741;
  width:85%;
}
