body{
    background-color: #FDFFDB;
    font-size:20px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textbox{
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #FF9191;
  border: none;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  resize:none;
}
.button {
  padding: 16px 24px;
  font-size: 30px;
  color: white;
  background-color: #FF9191;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease; 
}
.input-order{
        display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.button:hover {
  background-color: #FFD270;
}