.title {
    font-size: 50px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #FDFFDB;
    font-size:30px;
    width: 100%;
    text-align: center;
}
.button {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  background-color: #FF9191;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease; 
}

.button:hover {
  background-color: #FFD270;
}